@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Science+Gothic:wght@100..900&display=swap');

:root {
	--fontLight: 300;
	--fontRegular: 400;
	--fontBold: 700;
	--mainColor: rgb(37, 199, 37);
	--secondColor:black;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*GENERAL*/

body {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
	font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--fontRegular);
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
	color: var(--mainColor);	
	justify-content: center;		
	transition: all 1s ease;
  
}


.nav {
	display: flex;	
	font-size: 25px;
	gap: 50px;
	justify-content: center;
	margin-top: 30px;
	
}

.nav a {	
	color: var(--mainColor);
  text-decoration: none;			
}

h1 {
	display: flex;
	flex: wrap;
	justify-content: center;
	font-size: 35px;
	gap: 15px;	
  padding: 20px;	
  color: var(--mainColor);
}

h2 {
	display: flex;
	flex: wrap;
	justify-content: center;
	font-size: 35px;
	gap: 15px;
	padding: 20px;		
	color: var(--mainColor);
}

/*LINK*/


/*INDEX*/

.line2 {
	display:none;
}

/*DATE*/

.date {  
	display: flex;
	flex: wrap;
  width: 300px;
	justify-content: center;
  margin: auto;
  color: var(--mainColor);
  font-size: 1.4rem;
  font-weight: var(--fontBold);
}

.line {  
  	  
  display: flex;
	flex: wrap;
  width: 800px;
  height: 300px;
	margin: auto;
  color: var(--mainColor);
  font-size: 3rem;
  font-weight: var(--fontBold);
  background: linear-gradient(60deg, #37373873, #42434483);  
}

/*LINK*/

.link-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  gap: 10px;
  margin-top: 20px;
}

#inputName, #inputLink {
  font-size: 1rem;
  padding: 8px;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  background-color: var(--secondColor);
  color: var(--mainColor);
  font-weight: var(--fontLight);
  resize: vertical;
}

#btnsubmit  { 
  font-weight: var(--fontLight);
  color: var(--mainColor);
  background-color: var(--secondColor);
  cursor: pointer;
  
}
#btnclear {
  font-weight: var(--fontLight);
  color: var(--mainColor);
  background-color: var(--secondColor);
  cursor: pointer;
}

/*METEO*/

.weather-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 620px;
  height: 200px;
  margin:  auto;
  margin-top: 20px;  
  background: linear-gradient(60deg, #4d4d4d48, #615f5f4f);  
  align-content: center;  
  color: var(--mainColor);
  font-size: 1.4rem;
  font-weight: var(--fontBold);

}
.forecast-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 620px;
  height: 300px;
  margin:  auto;  
  margin-bottom: 20px;  
  background: linear-gradient(60deg, #37373873, #42434483);  
  list-style: none;
  color: var(--mainColor);
  
}

.forecast-title {
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: var(--fontBold);
  margin-bottom: 15px;
  color: var(--mainColor);
}

.forecast-scroll {
  display: flex;
  flex-direction: row;
  gap: 14px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.forecast-item {  
  height: 100%;
  padding: 10px;  
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
}

.forecast-item p {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.forecast-item p:nth-child(3) {
  font-size: 1.3rem;
  font-weight: var(--fontBold);
  color: var(--mainColor)
}

.forecast-item img {
  width: 70px;
  height: 70px;
}


/*PASS*/

.pass-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  gap: 10px;
  margin-top: 20px;
}

.passwordForm {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
   margin: auto;
  gap: 5px;
  margin-top: 10px;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  background-color: var(--secondColor);
  color: var(--mainColor);
  font-weight: var(--fontLight);
  
}

#pass textarea {
  display: none;
}

#length {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
   margin: auto;
  gap: 5px;
  margin-top: 10px;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  background-color: var(--secondColor);
  color: var(--mainColor);
  font-weight: var(--fontLight);
  resize: vertical;

}


#btnPass { 
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  background-color: var(--secondColor);
  color: var(--mainColor);
  font-weight: var(--fontLight);
  resize: vertical;
   cursor: pointer;
}